.wte-process-tabs {
    .accommodation-upgrades-toggle-button-text {
        margin-right: auto;
        margin-left: 16px;
        display: inline-block;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.8;
        padding: 2px 12px;
        color: #F79009;
        background-color: #f5eadd;
        border-radius: 50px;
    }
}

.wpte-checkout__page-layout {
    .wpte-checkout__booking-summary-table {
        tbody {
            tr:last-child {
                &:not(.wpte-checkout__table-spacer) {
                    display: none;
                }
            }
        }
    }
}